<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <th:block th:replace="~{fragments/header :: headerHead}"></th:block>
        <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">댕댕이 월드</title>
    </head>
    <body class="bg-orange-50">

    <div th:replace="~{fragments/header :: headerNav}"></div>

    <div layout:fragment="content">
    </div>

    <div th:replace="~{fragments/footer :: footerNav}"></div>

    <th:block layout:fragment="script"></th:block>
</body>
</html>